n8n/WF-CALL-WA1-TRIGGER-FROM-WEBHOOK.json
{
  "name": "WF-TEST: Call WF-WA-1 Trigger Inputs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-wa1-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8a55fd27-af09-4073-b295-f558c88621ac",
      "name": "1. Webhook: Test Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        160
      ],
      "webhookId": "call-wa1-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst nowSeconds = Math.floor(Date.now() / 1000).toString();\n\nreturn [{\n  json: {\n    phone_number_id: body.phone_number_id || '',\n    sender_wa_phone: body.sender_wa_phone || body.recipient?.whatsapp_phone || '',\n    external_message_id: body.external_message_id || `dashboard-${Date.now()}`,\n    message_type: body.message_type || 'text',\n    content_text: body.content_text || body.text || body.message?.content_text || '',\n    content_media_id: body.content_media_id || null,\n    content_mime_type: body.content_mime_type || null,\n    interactive_reply_id: body.interactive_reply_id || null,\n    sender_display_name: body.sender_display_name || body.customer?.name || 'Dashboard',\n    timestamp: body.timestamp || nowSeconds,\n  }\n}];"
      },
      "id": "8e22a2d8-95e9-4050-8764-dff6e57d7a4e",
      "name": "2. Code: Build WF-WA-1 Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WF_WA_1_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phone_number_id": "={{ $json.phone_number_id }}",
            "sender_wa_phone": "={{ $json.sender_wa_phone }}",
            "external_message_id": "={{ $json.external_message_id }}",
            "message_type": "={{ $json.message_type }}",
            "content_text": "={{ $json.content_text }}",
            "content_media_id": "={{ $json.content_media_id }}",
            "content_mime_type": "={{ $json.content_mime_type }}",
            "interactive_reply_id": "={{ $json.interactive_reply_id }}",
            "sender_display_name": "={{ $json.sender_display_name }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sender_wa_phone",
              "displayName": "sender_wa_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "external_message_id",
              "displayName": "external_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_media_id",
              "displayName": "content_media_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_mime_type",
              "displayName": "content_mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "interactive_reply_id",
              "displayName": "interactive_reply_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sender_display_name",
              "displayName": "sender_display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "883f5f9a-cbc9-489a-a062-4b284f07e824",
      "name": "3. Execute WF-WA-1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, called: 'WF-WA-1', input: $('2. Code: Build WF-WA-1 Inputs').item.json }) }}",
        "options": {}
      },
      "id": "ea1ed9ea-3cd8-4ad5-9b6c-824c53465e83",
      "name": "4. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        160
      ]
    }
  ],
  "connections": {
    "1. Webhook: Test Input": {
      "main": [
        [
          {
            "node": "2. Code: Build WF-WA-1 Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Code: Build WF-WA-1 Inputs": {
      "main": [
        [
          {
            "node": "3. Execute WF-WA-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Execute WF-WA-1": {
      "main": [
        [
          {
            "node": "4. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
