n8n/WF-DASHBOARD-HANDOVER.json
{
  "name": "WF-DASHBOARD-HANDOVER: Send Human Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-human-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c4db8b51-8a21-4ab6-b639-3fbad6f32af7",
      "name": "1. Webhook: Dashboard Reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        160
      ],
      "webhookId": "dashboard-human-reply"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst conversation = body.conversation || {};\nconst message = body.message || {};\nconst recipient = body.recipient || {};\nconst text = String(body.text || message.content_text || '').trim();\nconst requestedMode = body.send_mode || (body.event === 'human_reply' || message.role === 'employee' ? 'human' : 'bot');\nconst sendMode = requestedMode === 'human' ? 'human' : 'bot';\nconst role = sendMode === 'human' ? 'employee' : 'bot';\n\nif (!text) throw new Error('Missing dashboard reply text');\nif (!conversation.id) throw new Error('Missing conversation.id');\nif (!conversation.channel_account_id) throw new Error('Missing conversation.channel_account_id');\n\nreturn [{\n  json: {\n    source: 'dashboard',\n    send_mode: sendMode,\n    event: sendMode === 'human' ? 'human_reply' : 'bot_reply',\n    role,\n    status: body.status || conversation.status || '',\n    conversation_id: conversation.id,\n    customer_id: conversation.customer_id || recipient.customer_id || null,\n    channel_account_id: conversation.channel_account_id,\n    branch_id: conversation.branch_id || null,\n    sender_wa_phone: body.sender_wa_phone || recipient.whatsapp_phone || body.customer?.phone || '',\n    phone_number_id: body.phone_number_id || body.channel_account?.external_id || body.channel_account?.wa_phone_number || '',\n    content_text: text,\n    created_at: new Date().toISOString(),\n  }\n}];"
      },
      "id": "241fb8e4-4549-4cd5-9013-f75c72f8e095",
      "name": "2. Code: Normalize Dashboard Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/channel_accounts?id=eq.' + encodeURIComponent($json.channel_account_id) + '&select=id,external_id,wa_phone_number,display_name&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "8d755750-01fb-4491-8339-bf9bf22cb58e",
      "name": "3. GET: channel_account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        80
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/customer_identities?customer_id=eq.' + encodeURIComponent($('2. Code: Normalize Dashboard Payload').item.json.customer_id || '') + '&channel_account_id=eq.' + encodeURIComponent($('2. Code: Normalize Dashboard Payload').item.json.channel_account_id) + '&channel=eq.whatsapp&select=external_id,display_name_on_platform&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "9fe7e1b4-203f-41ca-a3b6-93a75ccaf117",
      "name": "4. GET: customer_identity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        256
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const base = $('2. Code: Normalize Dashboard Payload').item.json;\nconst accountRaw = $('3. GET: channel_account').item.json;\nconst identityRaw = $('4. GET: customer_identity').item.json;\nconst account = Array.isArray(accountRaw) ? accountRaw[0] : accountRaw;\nconst identity = Array.isArray(identityRaw) ? identityRaw[0] : identityRaw;\n\nconst phoneNumberId = base.phone_number_id || account?.external_id || account?.wa_phone_number || '';\nconst senderWaPhone = base.sender_wa_phone || identity?.external_id || '';\n\nif (!phoneNumberId) {\n  throw new Error('Missing phone_number_id. channel_accounts.external_id was empty for ' + base.channel_account_id);\n}\n\nif (!senderWaPhone) {\n  throw new Error('Missing sender_wa_phone. customer_identities.external_id was empty for customer ' + base.customer_id);\n}\n\nreturn [{\n  json: {\n    ...base,\n    phone_number_id: phoneNumberId,\n    sender_wa_phone: senderWaPhone,\n  }\n}];"
      },
      "id": "f7feb338-2755-4f17-a336-0965818e498c",
      "name": "5. Code: Build Dispatch Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dashboard-send-mode",
              "leftValue": "={{ ['human','bot'].includes($json.send_mode) || ['human_reply','bot_reply'].includes($json.event) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7824e53e-c0b9-426e-9b6f-c17b9e730d4d",
      "name": "6. IF: Dashboard Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_id: $json.conversation_id, channel_account_id: $json.channel_account_id, channel: 'whatsapp', role: $json.role, direction: 'outbound', message_type: 'text', content_text: $json.content_text, content_media_url: null, external_message_id: null, processing_status: 'processing', metadata: { source: 'admin_dashboard', send_mode: $json.send_mode, dispatch: { sender_wa_phone: $json.sender_wa_phone, phone_number_id: $json.phone_number_id, message_type: 'text', body: $json.content_text } } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "47dbd2a4-4a4f-4e67-b445-b70269166c14",
      "name": "7. INSERT: employee outbound message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        64
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst row = Array.isArray(raw) ? raw[0] : raw;\nif (!row?.id) throw new Error('Message insert returned no row: ' + JSON.stringify(raw));\nreturn [{ json: row }];"
      },
      "id": "0a9f9193-307e-4a33-8afd-7a6f2436568f",
      "name": "8. Code: Unwrap Message Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WF_WA_3_DISPATCHER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "source": "dashboard",
            "content_text": "={{ $json.content_text }}",
            "sender_wa_phone": "={{ $('5. Code: Build Dispatch Context').item.json.sender_wa_phone }}",
            "phone_number_id": "={{ $('5. Code: Build Dispatch Context').item.json.phone_number_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sender_wa_phone",
              "displayName": "sender_wa_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "91d96f28-0225-4075-b5ac-2c36fcbf3d16",
      "name": "9. Execute WF-3 Dispatcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message_id: $('8. Code: Unwrap Message Row').item.json.id, conversation_id: $('8. Code: Unwrap Message Row').item.json.conversation_id }) }}",
        "options": {}
      },
      "id": "475492ca-e414-42c6-9837-f1405b2ff28d",
      "name": "10. Respond: Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 409,
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Dashboard payload was not a supported send mode', send_mode: $json.send_mode, status: $json.status }) }}",
        "options": {}
      },
      "id": "62cc33a0-2ecb-4638-94de-48cf1b621d21",
      "name": "11. Respond: Invalid Send Mode",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        288
      ]
    }
  ],
  "connections": {
    "1. Webhook: Dashboard Reply": {
      "main": [
        [
          {
            "node": "2. Code: Normalize Dashboard Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Code: Normalize Dashboard Payload": {
      "main": [
        [
          {
            "node": "3. GET: channel_account",
            "type": "main",
            "index": 0
          },
          {
            "node": "4. GET: customer_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. GET: channel_account": {
      "main": [
        [
          {
            "node": "5. Code: Build Dispatch Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. GET: customer_identity": {
      "main": [
        [
          {
            "node": "5. Code: Build Dispatch Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Code: Build Dispatch Context": {
      "main": [
        [
          {
            "node": "6. IF: Dashboard Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. IF: Dashboard Send?": {
      "main": [
        [
          {
            "node": "7. INSERT: employee outbound message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "11. Respond: Invalid Send Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. INSERT: employee outbound message": {
      "main": [
        [
          {
            "node": "8. Code: Unwrap Message Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Code: Unwrap Message Row": {
      "main": [
        [
          {
            "node": "9. Execute WF-3 Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Execute WF-3 Dispatcher": {
      "main": [
        [
          {
            "node": "10. Respond: Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
